h1{color:white; text-align: center;}

/*paragraph color*/
p{color: purple;
  text-align: center;
  background: white}


		
/*style for h3*/
h3{text-align: center;
   font-size: 40px;
color:#FD5DD1}

/*page color*/
body{background-color: #BDFFB1; width: 80%; margin: auto}

#blog2s{background-color:#FFEFB1}

button{background-color:purple}

 button a{color:white;text-decoration:none;}

 ul{line-height: 50px}

 ul li{list-style: square;}

a:hover{color:black;}

#topimage {padding: 10px; margin:50px; border-style:solid;background-color: black; display: block;margin-left: auto;margin-right: auto; width: 50%}

#top{position: fixed;}

*{margin:0;padding:0;}